@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>404!</h1>
        <h2>صفحه مورد نظر پیدا نشد !</h2>
        <br>
    </div>
</div>
