@page
@model BP.Presentation.Pages.ContactUsModel
@{
}

<div class="container">
    <main class="pb-3">
        <div class="card text-center">
            <div class="card-body">
                <i class="fa fa-phone ml-3"></i> تلفن : 09921221500
            </div>
            <div class="card-body">
                <i class="fa fa-envelope ml-3"></i> ایمیل : <a href="mailto:imrezaghiasi@gmail.com">imrezaghiasi@gmail.com</a>
            </div>
        </div>
    </main>
</div>